body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 0;
}
.text-red {
    color: rgb(210, 1, 32);
}

/* Nav bar */
.navbar {
    background: rgba(0, 0, 0, 0.2);
}

.navbar.navbar-transparent {
    background-color: rgba(5, 4, 4, 0.1)!important;
    padding-top: 8px!important;
}

/* First Page */
.first-page {
    background: rgba(54, 52, 52, 0.1);
}


/* Card */
.card {
    overflow: hidden;
}

.card-text {
    font-size: 0.8rem;
    font-weight: thin;
}

.right-border {
    border-right: 1px solid rgb(202, 189, 189);
}

/* Second Page */
.second-page {
    position: relative;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5))
    ,url('https://st2.depositphotos.com/2605379/12028/i/950/depositphotos_120280222-stock-photo-blank-white-brick-office-wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.second-page h1 {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
    display: inline;
    z-index: 100;
}

/* Carousel */

.carousel-indicators i {
    padding: 0 10px;
    color: rgb(175, 170, 170);
    margin-bottom: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.carousel-indicators i.active {
    color: rgb(210, 1, 32);
}

.carousel-indicators i:hover {
    color: rgb(210, 1, 32);
}

.second-page .container {
    margin: auto;
    margin-top: 200px;

    padding-bottom: 50px;
    cursor: pointer;
}

.second-page .container img {
    width: 200px;
    border-radius: 50%;
}

.second-page .container p:nth-of-type(1) {
    color: #fff;
    display: block;
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
}

.second-page .container h4 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding: 0;
    margin-top: 20px;
    font-weight: lighter!important;
}

.second-page .container p:nth-of-type(2) {
    margin-top: -15px;
    font-size: 0.9rem;
    font-weight: 0;
}


@media (max-width: 610px) {
    .second-page h1 {
        font-size: 2rem;
    }

    .second-page .container {
        margin-top: 100px;
    }
}